<div class="header">
    <img height="130" src="/img/logoPrint.png" alt="Logo">&nbsp;
    <table border="0">
        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="4">
                <p style="line-height: 10px; width:1000px;" class="textjusto-1"><b>PACIENTE:</b>
                    {{informe.paciente}}</p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p style="line-height: 10px; width:500px;" class="mayus textjusto-1"><b>{{paciente.t_docu}}:</b>
                    {{informe.numdoc}}</p>
            </td>
            <td>
                <p style="line-height: 10px;" class="mayus textjusto-1"><b>EDAD: </b>{{informe.edad}}</p>
            </td>
            <td>
                <p style="line-height: 10px;" class="mayus textjusto-1"><b>SEXO:</b>
                    {{informe.sexo}}</p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p style="line-height: 10px; width:500px;" class="textjusto-1"><b>IPS:</b>
                    {{informe.entidad}}</p>
            </td>
            <td colspan="2">
                {{#if eps}}
                <p style="line-height: 10px; width:500px;" class="textjusto-1"><b>EPS:</b> {{informe.eps}}
                </p>
                {{else}}
                &nbsp;
                {{/if}}
            </td>
        </tr>
        <tr>
            <td>
                <p style="line-height: 10px; width:500px;" class="textjusto-1"><b>INGRESO:</b>
                    {{informe.fec_ingreso}}</p>
            </td>
            <td colspan="3">
                <p style="line-height: 10px; width:500px;" class="textjusto-1"><b>INFORME:</b>
                    {{informe.fec_inf}}</p>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <p style="line-height: 10px; width:1000px;" class="textjusto-1"><b>MED. REMITENTE:</b>
                    {{informe.medRemitente}}</p>
            </td>
        </tr>
        <!--Linea Horizontal-->
        <tr>
            <td colspan="4"
                style="color: rgb(117, 117, 117); font-size: 22px; line-height: 0px; padding-left: 0px; padding-bottom: 0px; padding-top: 0px; width:1000px;">
                <b style="text-align:center">
                    <i style="text-align:center">
                ___________________________________________________________________________________________
                    </i>
                </b>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <p style="line-height: 18px; padding-top: 29px; text-align: center; width:1000px;" class="textjusto-1">
                    INFORME DE ESTUDIO
                    ANATOMOPATOLÓGICO No: <b><i style="size: 24px;">{{informe.informe_cod}}</i></b></p>
            </td>
        </tr>
    </table>
</div>

<div class="container">
    <table border="0" class="content-block">
        <thead>
            <tr class="header-space">
                <td colspan="3">
                    <div>
                        &nbsp;
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" colspan="4" style="padding-top: 0px;">
                    <b>
                        <p style="line-height: 15px; padding-top: 0px; padding-bottom: 0px">DESCRIPCIÓN MACROSCÓPICA</p>
                    </b>
                    <pre style="line-height: 22px; width:1000px;letter-spacing: -1px;">{{informe.macro}}</pre>
                </td>
            </tr>
            <tr>
                <td scope="row" colspan="4" style="padding-top: 0px;">
                    <b>
                        <p style="line-height: 15px; padding-top: 0px; padding-bottom: 0px">DESCRIPCIÓN MICROSCÓPICA</p>
                    </b>
                    <pre style="line-height: 22px; width:1000px;letter-spacing: -1px;">{{informe.micro}}</pre>
                </td>
            </tr>
            <tr>
                <td scope="row" colspan="4" style="padding-top: 0px;">
                    <b>
                        <p style="line-height: 15px; padding-top: 0px; padding-bottom: 0px">DIAGNOSTICO:</p>
                    </b>
                    <pre style="line-height: 22px; width:1000px;letter-spacing: -1px;">{{informe.diagnostico}}</pre>
                </td>
            </tr>
            {{#if observacion}}
            <tr>
                <td scope="row" colspan="4" style="padding-top: 0px; padding-bottom: 0px">
                    <b>
                        <p style="line-height: 15px; padding-top: 0px; padding-bottom: 0px">OBSERVACIONES:</p>
                    </b>
                    <pre style="line-height: 22px; width:1000px;">{{informe.observaciones}}</pre>
                </td>
            </tr>
            {{/if}}
            {{#if inmuno}}
            <tr>
                <td scope="row" colspan="4">
                    <b>
                        <p>INMUNOHISTOQUÍMICA:</p>
                    </b>
                    <pre style="line-height: 22px; width:1000px;letter-spacing: -1px;">{{informe.inmuno}}</pre>
                </td>
            </tr>
            {{/if}}
            <tr>
                <td style="vertical-align: bottom;width:550px;">&nbsp;</td>
                <td style="text-align: center;" colspan="2">
                    <p class="firma">&nbsp;<br>______________________________________<br>
                        {{informe.patologo}}<br>
                        Médico Patólogo - Registro: {{medico.reg_med}}
                    </p>
                </td>
            </tr>
        </tbody>

    </table>
</div>


<div class="footer">
    <p class="pie">
        Medicos Patólogos-MediPat S.A.S, Calle Velez Danies #4-11 Piso 2<br>
        Telefono: 6601351 &#9679; 3153220966 &#9679; Email: administracion@medipat.com.co
    </p>
</div>

<style>
    @page {
        size: Letter;
        margin: 11mm 17mm 17mm 17mm;
    }

    .navbar {
        display: none;
    }

    .header-space {
        height: 340px;
    }

    @media print {
        .header {
            position: fixed;
            top: 0;
        }

        .footer {
            font-size: 9px;
            line-height: 19px;
            width: 1000px;
            color: rgb(54, 89, 163);
            text-align: center;
            position: fixed;
            bottom: 0;
        }

        .content-block,
        p {
            page-break-inside: avoid;
        }

        html,
        body {
            width: 210mm;
            height: 297mm;
        }
    }

    .right {
        position: absolute;
        right: 0px;
        padding: 10px;
    }

    .left {
        position: absolute;
        left: 0px;
        padding: 10px;
    }

    .borde {
        border: 1px solid black;
    }

    .tamprint {
        font-size: 16px;
    }

    p {
        font-size: 22px;
    }

    .footer {
        font-size: 9px;
    }

    pre {
        width: 960px;
        font-family: "worksans";
        font-size: 22px;
        text-align: justify;
        text-justify: inter-word;
        border: 0px;
    }

    .firma {
        line-height: 25px;
        font-size: 22px;
        text-align: center;
        color: black;
    }

    .pie {
        line-height: 14px;
        font-size: 16px;
        text-align: center;
        color: rgb(54, 89, 163);

    }

    .textjusto-1 {
        letter-spacing: -1px;
    }
</style>