<div class="container left">
    <table border="0">
        <thead>
            <tr class="header-space xheaderf1">
                <td colspan="3">
                    <div>
                        &nbsp;
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class="xheaderf2">
                <td colspan="3" style="text-align: center">
                        <p style="text-align: center">INFORME DE ESTUDIO ANATOMOPATOLÓGICO No: <strong><i style="size: 24px;">{{informe.informe_cod}}</i></strong></p>
                </td>
            </tr>
            <tr class="xheaderf3">
                <td id="nombre" scope="row">
                    <p><strong>Paciente:</strong> {{informe.paciente}}</p>
                </td>
                <td colspan="2" style="width:320px" id="num_doc" scope="row">
                    <p class="mayus"><strong>{{paciente.t_docu}}:</strong> {{informe.numdoc}} &nbsp; <strong>Edad: </strong><i id="edad"></i> &nbsp;<strong>Sexo:</strong> {{informe.sexo}}</p>
                </td>
            </tr>
            <tr class="xheaderf6">
                <td style="width:380px">
                    <p><strong>IPS:</strong> {{informe.entidad}}</p>
                </td>
                <td colspan="2">
                    {{#if eps}}
                    <p><strong>EPS:</strong> {{informe.eps}}</p>
                    {{else}}
                    &nbsp;
                    {{/if}}
                </td>
            </tr>
            <tr class="xheaderf5">
                <td scope="row">
                    <p><strong>Ingreso:</strong> {{informe.fec_ingreso}}</p>
                </td>
                <td scope="row" colspan="2">
                    <p><strong>Informe:</strong> {{informe.fec_inf}}</p>
                </td>
                <td scope="row">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <p><strong>Med. Remitente:</strong> {{informe.medRemitente}}</p>
                </td>
            </tr>
            <!--Linea Horizontal-->
            <tr>
                <td scope="row" colspan="3">
                    <strong><p>DESCRIPCIÓN MACROSCÓPICA</p></strong>
                    <p>{{informe.macro}}</p>
                </td>
            </tr>
            <tr>
                <td scope="row" colspan="3">
                    <strong><p>DESCRIPCIÓN MICROSCÓPICA</p></strong>
                    <p>{{informe.micro}}</p>
                </td>
            </tr>
            <tr>
                <td scope="row" colspan="3">
                    <strong><p>DIAGNOSTICO:</p></strong>
                    <pre>{{informe.diagnostico}}</pre>
                </td>
            </tr>
            {{#if observacion}}
            <tr>
                <td scope="row" colspan="3">
                    <strong><p>OBSERVACIONES:</p></strong>
                    <p>{{informe.observaciones}}</p>
                </td>
            </tr>
            {{/if}}
            {{#if inmuno}}
            <tr>
                <td scope="row" colspan="3">
                    <strong><p>INMUNOHISTOQUÍMICA:</p></strong>
                    <p>{{informe.inmuno}}</p>
                </td>
            </tr>
            {{/if}}
            <tr>
                <td style="vertical-align: bottom;">&nbsp;</td>
                <td>&nbsp;</td>
                <td style="text-align: center;">
                    <p>&nbsp;<br>
                        ____________________________________<br>
                        Patologo: {{informe.patologo}}<br>
                        Registro: {{medico.reg_med}}
                    </p>
                </td>
            </tr>
        </tbody>
        <tfoot class="header-space">
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="header">
    <img height="100" src="/img/logo.png" alt="Logo">&nbsp;
</div>
<div style="width: 980px;" class="footer">
    <p style="text-align: center;">
        Medicos Patólogos-MediPat S.A.S,  Calle Velez Danies #4-11 Piso 2<br>
        Telefono: 660.13.51 &#9679; 315.322.09.66 &#9679; Email: administracion@medipat.com.co
    </p>
</div>

<style>
    .navbar {
        display: none;
    }

    .header-space {
        height: 100px;
    }
    
    .footer,
    .footer-space {
        height: 80px;
    }
    
    .header {
        position: fixed;
        top: 0;
    }
    
    .headerf1 {
        position: fixed;
        top: 0;
    }
    
    .headerf2 {
        position: fixed;
        top: 100px;
    }
    
    .headerf3 {
        position: fixed;
        top: 130px;
    }

    .headerf4 {
        position: fixed;
        top: 160px;
    }

    .headerf5 {
        position: fixed;
        top: 190px;
    }

    .headerf6 {
        position: fixed;
        top: 220px;
    }

    .footer {
        position: fixed;
        bottom: 0;
    }

    .right {
        position: absolute;
        right: 0px;
        padding: 10px;
    }

    .left {
        position: absolute;
        left: 0px;
        padding: 10px;
    }

    .borde {
        border: 1px solid black;
    }

    .tamprint {
        font-size: 16px;
    }
    p {
        font-size: 22px;
    }
    
    pre {
    font-family: "worksans";
    font-size: 22px;
    word-break: break-word;
    width: 960px; 
    }
</style>
<script>
    var Edad = Math.floor((new Date().getTime() - new Date('{{informe.edad}}').getTime()) / 3.154e+10);
    document.getElementById("edad").innerHTML = Edad;
</script>