<div class="container left">
    <table border="0">
        <thead>
            <tr class="header-space xheaderf1">
                <td colspan="3">
                    <div>
                        &nbsp;
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class="xheaderf2">
                <td colspan="3" style="text-align: center">
                        <p style="text-align: center">INFORME DE ESTUDIO ANOTOMOPATOLÓGICO No: {{informe.informe_cod}}</p>
                </td>
            </tr>
            <tr class="xheaderf3">
                <td style="width:320px" id="num_doc" scope="row">
                    <p class="mayus">{{paciente.t_docu}}. {{informe.numdoc}}</p>
                </td>
                <td colspan="2" id="nombre" scope="row">
                    <p>Paciente: {{informe.paciente}}</p>
                </td>
            </tr>
            <tr class="xheaderf4">
                <td style="width:330px" id="telefono" scope="row">
                    <p>Telefono: {{informe.telefono}}</p>
                </td>
                <td style="width:420px">
                    <p>Edad: <strong id="edad"></strong> ({{informe.edad}})</p>
                </td>
                <td id="sexo">
                    <p>Sexo: {{informe.sexo}}</p>
                </td>
            </tr>
            <tr class="xheaderf5">
                <td scope="row">
                    <p>Muestra: {{informe.fec_muestra}}</p>
                </td>
                <td scope="row">
                    <p>Informe: {{informe.fec_inf}}</p>
                </td>
                <td scope="row">
                    <p>Ingreso: {{informe.fec_ingreso}}</p>
                </td>
            </tr>
            <tr class="xheaderf6">
                <td style="width:380px">
                    <p>Rem.: {{informe.medRemitente}}</p>
                </td>
                <td colspan="2">
                    <p>Entidad: {{informe.entidad}}</p>
                </td>
            </tr>
            <tr>
                <td scope="row" colspan="3">
                    <p>MACRO</p>
                    <p>{{informe.macro}}</p>
                </td>
            </tr>
            <tr>
                <td scope="row" colspan="3">
                    <p>MICRO</p>
                    <p>{{informe.micro}}</p>
                </td>
            </tr>
            <tr>
                <td scope="row" colspan="3">
                    <p>DIAGNOSTICO:</p>
                    <pre>{{informe.diagnostico}}</pre>
                </td>
            </tr>
            {{#if observacion}}
            <tr>
                <td scope="row" colspan="3">
                    <p>OBSERVACIONES:</p>
                    <p>{{informe.observaciones}}</p>
                </td>
            </tr>
            {{/if}}
            <tr>
                <td style="vertical-align: bottom;">-Fin del Informe-</td>
                <td>&nbsp;</td>
                <td style="text-align: center;">
                    <p>&nbsp;<br>
                        ____________________________________<br>
                        Patologo: {{informe.patologo}}<br>
                        Registro: {{medico.reg_med}}
                    </p>
                </td>
            </tr>
        </tbody>
        <tfoot class="header-space">
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="header">
    <img height="100" src="/img/logo.png" alt="Logo">&nbsp;
</div>
<div style="width: 960px;" class="footer">
    <p style="text-align: center;">
        Medicos Patólogos S.A.S, NIT:900.195.584-0, Calle Velez Danies #4-11<br>
        Telefono: 660.13.51 &#9679; 315.322.09.66 &#9679; Email: administracion@medipat.com.co
    </p>
    <p></p>
</div>

<style>
    .navbar {
        display: none;
    }

    .header-space {
        height: 100px;
    }
    
    .footer,
    .footer-space {
        height: 80px;
    }
    
    .header {
        position: fixed;
        top: 0;
    }
    
    .headerf1 {
        position: fixed;
        top: 0;
    }
    
    .headerf2 {
        position: fixed;
        top: 100px;
    }
    
    .headerf3 {
        position: fixed;
        top: 130px;
    }

    .headerf4 {
        position: fixed;
        top: 160px;
    }

    .headerf5 {
        position: fixed;
        top: 190px;
    }

    .headerf6 {
        position: fixed;
        top: 220px;
    }

    .footer {
        position: fixed;
        bottom: 0;
    }

    .right {
        position: absolute;
        right: 0px;
        padding: 10px;
    }

    .left {
        position: absolute;
        left: 0px;
        padding: 10px;
    }

    .borde {
        border: 1px solid black;
    }

    .tamprint {
        font-size: 16px;
    }
    p {
        font-size: 22px;
    }
    
    pre {
    font-family: "worksans";
    font-size: 22px;
    word-break: break-word;
    width: 960px; 
    }
</style>
<script>
    var Edad = Math.floor((new Date().getTime() - new Date('{{informe.edad}}').getTime()) / 3.154e+10);
    document.getElementById("edad").innerHTML = Edad;
</script>