<div class="container">
    <table border="0">
        <thead>
            <tr class="header-space">
                <td colspan="3">
                    <div>
                        &nbsp;
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <!--Linea Horizontal-->
            <tr>
                <td colspan="4" style="color: rgb(117, 117, 117); font-size: 22px; line-height: 0px; padding-left: 0px; padding-bottom: 0px; padding-top: 0px; width:1000px;">
                    <strong><i>___________________________________________________________________________________</i></strong>
                </td>
            </tr>
            <!--Cuerpo Inf Citologias 
                    Calidad de muestra-->
            <tr>
                <td class="titulo" colspan="3" style="padding-top: 20px;">
                    <p class="titulo"><strong>CALIDAD DE MUESTRA</strong></p>
                </td>
            </tr>
            <tr>
                <label class="form-check-label">
                    <td style="width:360px;">
                        <input style="" type="radio" name="cal_muestra"
                            id="cal_muestra0" value="0">&nbsp;Satisfactoria <br>(Con celulas endocervicales / Z. T.)
                    </td>
                    <td style="width:360px;">
                        &nbsp;&nbsp;&nbsp;&nbsp;<input class="form-check-input" type="radio" name="cal_muestra"
                            id="cal_muestra1" value="1"> Satisfactoria <br>(Sin celulas endocervicales / Z. T.)
                    </td>
                    <td style="width:200;">
                        &nbsp;&nbsp;&nbsp;&nbsp;<input class="form-check-input" type="radio" name="cal_muestra"
                            id="cal_muestra2" value="2">Insatisfactoria por: <br>{{informe.ins_motivo}}
                    </td>
                </label>
                <script>
                    document.getElementById("cal_muestra{{informe.cal_muestra}}").checked = true;
                </script>

            </tr>
        </tbody>
    </table>

    <table>
        <!--Categoria General-->
        <tr>
            <td class="titulo" colspan="3">
                <p class="titulo"><strong>CATEGORIZACION GENERAL</strong></p>
            </td>
        </tr>
        <tr>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <td style="width:430px;" scope="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;<input class="form-check-input" type="radio" name="cat_gen"
                            id="cat_gen0" value="0"> Negativa
                        para lesión intraepitelial o malignidad
                    </td>
                    <td style="width:400px;">
                        &nbsp;&nbsp;&nbsp;&nbsp;<input class="form-check-input" type="radio" name="cat_gen"
                            id="cat_gen1" value="1">
                        Anormalidad en células epiteliales
                    </td>
                    <td style="width:100px;" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;<input class="form-check-input" type="radio" name="cat_gen"
                            id="cat_gen2" value="2"> Otros
                    </td>
                </label>
            </div>
        </tr>
    </table>
    <br>
    <table border="0">
        <tbody>
            <tr>
                <!--microorganizmos -izq-->
                <td style="width:500px;">
                    <p class="titulo-alt"><strong>MICROORGANISMOS</strong></p>
                    <input type="checkbox" name="cbox1" id="cbox1"><label for="cbox1">Tricomoma vaginalis</label><br>
                    <input type="checkbox" name="cbox2" id="cbox2"> <label for="cbox2">Hongos consistentes con
                        Candida
                        sp</label><br>
                    <input type="checkbox" name="cbox3" id="cbox3"> <label for="cbox3">Bacterias consistentes con
                        Actinomyces sp</label><br>
                    <input type="checkbox" name="cbox4" id="cbox4"> <label for="cbox4">Efectos citopáticos por virus
                        Herpes simple</label><br>
                    <input type="checkbox" name="cbox5" id="cbox5"> <label for="cbox5">Alteraciones en flora
                        sugestivos de vaginosis bacteriana</label><br>
                    <input type="checkbox" name="cbox6" id="cbox6"> <label for="cbox6">Oros</label>
                </td>
                <!--Otros Hallazgos-->
                <td style="width:500px;">
                    <p class="titulo2"><strong>OTROS HALLAZGOS NO NEOPLASTICOS</strong></p>
                    <input type="checkbox" name="cbox7" id="cbox7"> <label for="cbox7">Cambios Célulares reactivos
                        asociados</label><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="cbox8" id="cbox8"> <label for="cbox8">Inflamación</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="cbox9" id="cbox9"> <label for="cbox9">Atrofia</label><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="cbox10" id="cbox10"> <label for="cbox10">Radiación</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="cbox11" id="cbox11"> <label for="cbox11">DIU</label><br>
                    <input type="checkbox" name="cbox12" id="cbox12"> <label for="cbox12">Endometriales despues de
                        40
                        Años de edad</label><br>
                    <input type="checkbox" name="cbox13" id="cbox13"> <label for="cbox13">Otros</label><br>
                    &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
    <table border="0">
        <tbody>
            <tr>
                <td class="titulo" colspan="3" style="padding-top: 20px;">
                    <p><strong>ANORMALIDADES DE CELULAS EPITELIALES</strong></p>
                </td>
            </tr>
            <tr>
                <td style="width:350px;">
                    <input type="checkbox" name="cbox14" id="cbox14"> <label for="cbox14">Celulas Escamosas Atipicas
                        (ASC)</label><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="cbox15" id="cbox15"> <label for="cbox15">De significado
                        indeterminado
                        (ASC-US)</label><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="cbox16" id="cbox16"> <label for="cbox16">Sugieren lesion de alto
                        grado
                        (ASC-H)</label><br>
                    <input type="checkbox" name="cbox17" id="cbox17"> <label for="cbox17">LIE-BG <!--(Lesión escamosa
                        intraepitelial de bajo grado) -->NIC I - HPV</label><br>
                    <input type="checkbox" name="cbox18" id="cbox18"> <label for="cbox18">LIE-AG <!--(Lesión escamosa
                        intraepitelial de alto grado) -->NIC II - NIC III</label><br>
                    <input type="checkbox" name="cbox19" id="cbox19"> <label for="cbox19">Carcicoma escamoso
                        invasor</label><br>
                </td>
                <td style="width:310px;">
                    <input type="checkbox" name="cbox20" id="cbox20"> <label for="cbox20">Atípias de significado
                        indeterminado</label><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="cbox21" id="cbox21"> <label for="cbox21">Endocervicales</label>
                    &nbsp;&nbsp;
                    <input type="checkbox" name="cbox22" id="cbox22"> <label for="cbox22">Endometriales</label><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="cbox23" id="cbox23"> <label for="cbox23">Otras
                        glandulares</label><br>
                    <input type="checkbox" name="cbox24" id="cbox24"> <label for="cbox24">Células glandulares
                        endocervicales,<br>que favorecen neoplasia </label><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="cbox25" id="cbox25"> <label for="cbox25">Endocervicales</label>
                    &nbsp;&nbsp;
                    <input type="checkbox" name="cbox26" id="cbox26"> <label for="cbox26">Endometriales</label><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="cbox27" id="cbox27"> <label for="cbox27">Otras glandulares</label>
                </td>
                <td style="width:250px;">
                    <input type="checkbox" name="cbox28" id="cbox28"> <label for="cbox28">Adenocarcinoma in
                        situ</label><br>
                    <input type="checkbox" name="cbox29" id="cbox29"> <label for="cbox29">Adenocarcinoma</label><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="cbox30" id="cbox30"> <label for="cbox30">Endocervical</label><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="cbox31" id="cbox31"> <label for="cbox31">Endometrial</label><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="cbox32" id="cbox32"> <label for="cbox32">Extrauterino</label><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="cbox33" id="cbox33"> <label for="cbox33">No
                        especificado</label><br>
                </td>
            </tr>
            <tr>
                <td style="width:1000px;" colspan="3" style="padding-top: 100px;">
                    <br>
                    <strong class="titulo">OBSERVACIONES</strong>
                    <pre>{{informe.observaciones}}</pre>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="vertical-align: bottom;width:550px;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">
                    <p class="firma">&nbsp;<br>______________________________________<br>
                        Patologo: {{informe.patologo}}<br>
                        Registro: {{medico.reg_med}}
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--Cabecera-->
<div class="header">
    <img height="100" src="/img/logo.png" alt="Logo">&nbsp;
    <table border="0">
        <tr>
            <td colspan="4" style="padding-top: 10px;">
                <p class="titulo-inf textjusto-1">INFORME DE ESTUDIO
                    CITOLÓGICO No: <strong><i style="size: 26px;">{{informe.informe_cod}}</i></strong></p>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top: 0px;">
                <p class="encabezado textjusto-1"><strong>PACIENTE:</strong>
                    {{informe.paciente}}</p>
            </td>
            <td colspan="2" style="width:500px;" id="num_doc" scope="row">
                <p class="encabezado" class="mayus textjusto-1"><strong class="mayus">{{paciente.t_docu}}:</strong>
                    {{informe.numdoc}} &nbsp; <strong>EDAD: </strong><i id="edad"></i>  &nbsp; <strong>SEXO: </strong> <i class="mayus">{{informe.sexo}}</i></p>
            </td>
        </tr>
        <tr>
            <td style="width:500px;" colspan="2">
                <p class="encabezado textjusto-1"><strong>IPS:</strong>
                    {{informe.entidad}}</p>
            </td>
            <td style="width:500px;" colspan="2">
                {{#if eps}}
                <p class="encabezado textjusto-1"><strong>EPS:</strong> {{informe.eps}}
                </p>
                {{else}}
                &nbsp;
                {{/if}}
            </td>
        </tr>
        <tr>
            <td style="width:500px;">
                <p class="encabezado textjusto-1"><strong>INGRESO:</strong>
                    {{informe.fec_ingreso}}</p>
            </td>
            <td style="width:500px;" colspan="3">
                <p class="encabezado textjusto-1"><strong>INFORME:</strong>
                    {{informe.fec_inf}}</p>
            </td>
        </tr>
        <tr>
            <td style="width:1000px;" colspan="4">
                <p class="encabezado textjusto-1"><strong>REMITENTE:</strong>
                    {{informe.medRemitente}}</p>
            </td>
        </tr>
    </table>
</div>

<div class="footer">
    <p class="pie">
        Medicos Patólogos-MediPat S.A.S, Calle Velez Danies #4-11 Piso 2<br>
        Telefono: 660.13.51 &#9679; 315.322.09.66 &#9679; Email: administracion@medipat.com.co
    </p>
</div>

<script>

    //document.getElementById("fecInforme").value = new Date().toDateInputValue();
    var Edad = Math.floor((new Date().getTime() - new Date('{{informe.edad}}').getTime()) / 3.154e+10);
    document.getElementById("edad").innerHTML = Edad;
    document.getElementById("cat_gen{{informe.cat_gen}}").checked = true;

    if ("{{informe.cbox1}}" == "on") { document.getElementById("cbox1").checked = true; };
    if ("{{informe.cbox2}}" == "on") { document.getElementById("cbox2").checked = true; };
    if ("{{informe.cbox3}}" == "on") { document.getElementById("cbox3").checked = true; };
    if ("{{informe.cbox4}}" == "on") { document.getElementById("cbox4").checked = true; };
    if ("{{informe.cbox5}}" == "on") { document.getElementById("cbox5").checked = true; };
    if ("{{informe.cbox6}}" == "on") { document.getElementById("cbox6").checked = true; };
    if ("{{informe.cbox7}}" == "on") { document.getElementById("cbox7").checked = true; };
    if ("{{informe.cbox8}}" == "on") { document.getElementById("cbox8").checked = true; };
    if ("{{informe.cbox9}}" == "on") { document.getElementById("cbox9").checked = true; };
    if ("{{informe.cbox10}}" == "on") { document.getElementById("cbox10").checked = true; };
    if ("{{informe.cbox11}}" == "on") { document.getElementById("cbox11").checked = true; };
    if ("{{informe.cbox12}}" == "on") { document.getElementById("cbox12").checked = true; };
    if ("{{informe.cbox13}}" == "on") { document.getElementById("cbox13").checked = true; };
    if ("{{informe.cbox14}}" == "on") { document.getElementById("cbox14").checked = true; };
    if ("{{informe.cbox15}}" == "on") { document.getElementById("cbox15").checked = true; };
    if ("{{informe.cbox16}}" == "on") { document.getElementById("cbox16").checked = true; };
    if ("{{informe.cbox17}}" == "on") { document.getElementById("cbox17").checked = true; };
    if ("{{informe.cbox18}}" == "on") { document.getElementById("cbox18").checked = true; };
    if ("{{informe.cbox19}}" == "on") { document.getElementById("cbox19").checked = true; };
    if ("{{informe.cbox20}}" == "on") { document.getElementById("cbox20").checked = true; };
    if ("{{informe.cbox21}}" == "on") { document.getElementById("cbox21").checked = true; };
    if ("{{informe.cbox22}}" == "on") { document.getElementById("cbox22").checked = true; };
    if ("{{informe.cbox23}}" == "on") { document.getElementById("cbox23").checked = true; };
    if ("{{informe.cbox24}}" == "on") { document.getElementById("cbox24").checked = true; };
    if ("{{informe.cbox25}}" == "on") { document.getElementById("cbox25").checked = true; };
    if ("{{informe.cbox26}}" == "on") { document.getElementById("cbox26").checked = true; };
    if ("{{informe.cbox27}}" == "on") { document.getElementById("cbox27").checked = true; };
    if ("{{informe.cbox28}}" == "on") { document.getElementById("cbox28").checked = true; };
    if ("{{informe.cbox29}}" == "on") { document.getElementById("cbox29").checked = true; };
    if ("{{informe.cbox30}}" == "on") { document.getElementById("cbox30").checked = true; };
    if ("{{informe.cbox31}}" == "on") { document.getElementById("cbox31").checked = true; };
    if ("{{informe.cbox32}}" == "on") { document.getElementById("cbox32").checked = true; };
    if ("{{informe.cbox33}}" == "on") { document.getElementById("cbox33").checked = true; };    
</script>

<style>
    @page {
        size: Letter;
        margin: 11mm 17mm 17mm 17mm;
    }

    .navbar {
        display: none;
    }

    .header-space {
        height: 210px;
    }

    @media print {
        .header {
            position: fixed;
            top: 0;
        }

        .footer {
            font-size: 16px;
            line-height: 19px;
            width: 1000px;
            color: rgb(54, 89, 163);
            text-align: center;
            position: fixed;
            bottom: 0;
        }

        .content-block,
        p {
            page-break-inside: avoid;
        }

        html,
        body {
            width: 210mm;
            height: 297mm;
        }
    }

    .right {
        position: absolute;
        right: 0px;
        padding: 10px;
    }

    .left {
        position: absolute;
        left: 0px;
        padding: 10px;
    }

    .borde {
        border: 1px solid black;
    }

    .tamprint {
        font-size: 16px;
    }

    .footer {}

    pre {
        font-family: "worksans";
        font-size: 22px;
        word-break: break-word;
        width: 960px;
    }

    td {
        font-size: 16px;
        height: 15px;
    }

    .titulo {
        font-size: 22px;
        color: black;
        line-height: 10px;
        text-align: left;
        width: 1000px;
    }

    .titulo-alt {
        font-size: 22px;
        color: black;
        line-height: 20px;
        text-align: left;
    }

    .titulo2 {
        font-size: 22px;
        color: black;
        line-height: 15px;
        text-align: left;
    }

    .titulo-inf {
        font-size: 22px;
        color: black;
        line-height: 15px;
        text-align: left;
        width: 1000px;
    }

    .encabezado {
        font-size: 20px;
        line-height: 10px;
        text-align: left;
        color: black;
    }

    .firma {
        line-height: 22px;
        font-size: 22px;
        text-align: center;
        color: black;
    }

    .pie {
        line-height: 14px;
        font-size: 16px;
        text-align: center;
        color: rgb(54, 89, 163);

    }

    .textjusto-1 {
        letter-spacing: -1px;
    }
</style>