<div class="container left">
    <table border="0">
        <thead class="header-space">
            <tr>
                <td colspan="2">&nbsp;</td>
                <td align="right">
                    <p>Informe: {{informe.informe_cod}}</p>
                </td>
            </tr>
        </thead>
        <tbody class="xborde">
            <tr>
                <td style="width:320px" id="num_doc" scope="row">
                    <p>Id: {{paciente.t_docu}}. {{informe.numdoc}}</p>
                </td>
                <td style="width:320px" id="nombre" scope="row">
                    <p>Paciente: {{informe.paciente}}</p>
                </td>
                <td style="width:320px" id="telefono" scope="row">
                    <p>Telefono: {{informe.telefono}}</p>
                </td>
            </tr>
            <tr>
                <td id="sexo">
                    <p>Sexo: {{informe.sexo}}</p>
                </td>
                <td>
                    <p>Edad: <strong id="edad"></strong> ({{informe.edad}})</p>
                </td>
                <td>
                    <p>Entidad: {{informe.entidad}}</p>
                </td>
            </tr>
            <tr>
                <td scope="row">
                    <p>Muestra: {{informe.fec_muestra}}</p>
                </td>
                <td scope="row">
                    <p>Informe: {{informe.fec_inf}}</p>
                </td>
                <td scope="row">
                    <p>Ingreso: {{informe.fec_ingreso}}</p>
                </td>
            </tr>
            <tr>
                <td scope="row" colspan="3">
                    <p>Medico remitente: {{informe.medRemitente}}</p>
                </td>
            </tr>
            <tr>
                <td scope="row" colspan="3">
                    <p>MACRO</p>
                    <p>{{informe.macro}}</p>
                </td>
            </tr>
            <tr>
                <td scope="row" colspan="3">
                    <p>MICRO</p>
                    <p>{{informe.micro}}</p>
                </td>
            </tr>
            <tr>
                <td scope="row" colspan="3">
                    <p>DIAGNOSTICO:</p>
                    <p>{{informe.diagnostico}}</p>
                </td>
            </tr>
            <tr>
                <td scope="row" colspan="3">
                    <p>OBSERVACIONES:</p>
                    <p>{{informe.observaciones}}</p>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: bottom;">-Fin del Informe-</td>
                <td>&nbsp;</td>
                <td style="text-align: center;">
                    <p>&nbsp;<br>
                        ____________________________________<br>
                        Patologo: {{informe.patologo}}<br>
                        Registro: {{medico.reg_med}}
                    </p>
                </td>
            </tr>
        </tbody>
        <tfoot class="header-space">
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="header"><img height="100" src="/img/logo.png" alt="Logo"></div>
<div class="footer">
    <p>
        Medicos Patólogos S.A.S, NIT:900.195.584-0, Calle Velez Danies #4-11<br>
        Telefono: 660.13.51 &#9679; 315.322.09.66 &#9679; Email: administracion@medipat.com.co
    </p>
    <p></p>
</div>

<style>
    .navbar {
        display: none;
    }

    .header-space,
    .footer,
    .footer-space {
        height: 100px;
    }

    .header {
        position: fixed;
        top: 0;
    }

    .footer {
        position: fixed;
        bottom: 0;
    }

    .right {
        position: absolute;
        right: 0px;
        padding: 10px;
    }

    .left {
        position: absolute;
        left: 0px;
        padding: 10px;
    }

    .borde {
        border: 1px solid black;
    }

    .tamprint {
        font-size: 16px;
    }
    p {
        font-size: 22px;
    }
</style>
<script>
    var Edad = Math.floor((new Date().getTime() - new Date('{{informe.edad}}').getTime()) / 3.154e+10);
    document.getElementById("edad").innerHTML = Edad;
</script>