<style>
    body {
        background: white !important;
    }

    .navbar {
        display: none;
    }

    .header-space {
        margin-top: 380px;
    }

    div.header {
        position: fixed;
        top: 0px;
    }

    div.footer {
        font-size: 9px;
        line-height: 19px;
        width: 1000px;
        color: rgb(54, 89, 163);
        text-align: center;
        position: fixed;
        bottom: 0;
    }

    .content-block: {
        font-size: 10px;
        position: fixed;
        top: 380px;
        margin-top: 20rem;
        page-break-after: always;
        page-break-inside: always;
    }

    @media print {
        @page {
            size: 216mm 279mm;
            margin: 11mm 17mm 17mm 17mm;
        }
        
        div.header {
            position: fixed;
            top: 0px;
        }

        div.footer {
            font-size: 9px;
            line-height: 19px;
            width: 1000px;
            color: rgb(54, 89, 163);
            text-align: center;
            position: fixed;
            bottom: 0;
        }

        .content-block: {
            position: fixed;
            top: 380px;
            margin-top: 20rem;
            page-break-after: always;
            page-break-inside: always;
        }

        #AlertMessage {
            display: none;
        }
    }

    .right {
        position: absolute;
        right: 0px;
        padding: 10px;
    }

    .left {
        position: absolute;
        left: 0px;
        padding: 10px;
    }

    .borde {
        border: 1px solid black;
    }

    .tamprint {
        font-size: 16px;
    }

    p {
        font-size: 22px;
    }

    .footer {
        font-size: 9px;
    }

    pre {
        width: 960px;
        font-family: "worksans";
        font-size: 22px;
        text-align: justify;
        text-justify: inter-word;
        border: 0px;
    }

    .firma {
        line-height: 25px;
        font-size: 22px;
        text-align: center;
        color: black;
    }

    .tabla-firma {
        margin-bottom: 3rem;
        margin-left: auto;
    }

    .pie {
        line-height: 14px;
        font-size: 16px;
        text-align: center;
        color: rgb(54, 89, 163);
    }

    .textjusto-1 {
        letter-spacing: -1px;
    }
</style>

<div class="header">
    <img height="130" src="/img/logoPrint.png" alt="Logo">&nbsp;
    <table border="0">
        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="4">
                <p style="line-height: 10px; width:1000px;" class="textjusto-1"><b>PACIENTE:</b>
                    <b>{{informe.paciente}}</b></p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p style="line-height: 10px; width:500px;" class="mayus textjusto-1"><b>{{paciente.t_docu}}:</b>
                    {{informe.numdoc}}</p>
            </td>
            <td>
                <p style="line-height: 10px;" class="mayus textjusto-1"><b>EDAD: </b>{{informe.edad}}</p>
            </td>
            <td>
                <p style="line-height: 10px;" class="mayus textjusto-1"><b>SEXO:</b>
                    {{informe.sexo}}</p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p style="line-height: 10px; width:500px;" class="textjusto-1"><b>IPS:</b>
                    {{informe.entidad}}</p>
            </td>
            <td colspan="2">
                {{#if eps}}
                <p style="line-height: 10px; width:500px;" class="textjusto-1"><b>EPS:</b> {{informe.eps}}
                </p>
                {{else}}
                &nbsp;
                {{/if}}
            </td>
        </tr>
        <tr>
            <td>
                <p style="line-height: 10px; width:500px;" class="textjusto-1"><b>INGRESO:</b>
                    {{informe.fec_ingreso}}</p>
            </td>
            <td colspan="3">
                <p style="line-height: 10px; width:500px;" class="textjusto-1"><b>INFORME:</b>
                    {{informe.fec_inf}}</p>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <p style="line-height: 10px; width:1000px;" class="textjusto-1"><b>MED. REMITENTE:</b>
                    {{informe.medRemitente}}</p>
            </td>
        </tr>
        <!--Linea Horizontal-->
        <tr>
            <td colspan="4"
                style="border: 2px solid rgba(0, 0, 0, .7)">
                <hr style="margin-bottom: 0rem !important; margin-top: 10px !important;">
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <p style="line-height: 18px; padding-top: 29px; text-align: center; width:1000px;" class="textjusto-1">
                    INFORME DE ESTUDIO
                    ANATOMOPATOLÓGICO No: <b><i style="font-size: 24px !important;">{{informe.informe_cod}}</i></b></p>
            </td>
        </tr>
    </table>
</div>

<div class="content-block header-space">
                    <b>
                        <p >DESCRIPCIÓN MACROSCÓPICA</p>
                    </b>
                    <pre>{{informe.macro}}</pre>
                    <b>
                        <p>DESCRIPCIÓN MICROSCÓPICA</p>
                    </b>
                    {{#each camposMicro}}
                        <p>
                            {{this}}
                        </p>
                    {{/each}}
                    <b>
                        <p>DIAGNOSTICO:</p>
                    </b>
                    <pre>{{informe.diagnostico}}</pre>
            {{#if observacion}}
                    <b>
                        <p>OBSERVACIONES:</p>
                    </b>
                    <pre>{{informe.observaciones}}</pre>
            {{/if}}
            {{#if inmuno}}
                    <b>
                        <p>INMUNOHISTOQUÍMICA:</p>
                    </b>
                    <pre>{{informe.inmuno}}</pre>
            {{/if}}
</div>


<div class="footer">
    <table class="tabla-firma">
        <tr>
            <td style="text-align: center;" colspan="2">
                <p class="firma">&nbsp;<br>______________________________________<br>
                    {{informe.patologo}}<br>
                    Médico Patólogo - Registro: {{medico.reg_med}}
                </p>
            </td>
        </tr>
    </table>

    <p class="pie">
        Medicos Patólogos-MediPat S.A.S, Calle Velez Danies #4-11 Piso 2<br>
        Telefono: 6601351 &#9679; 3153220966 &#9679; Email: administracion@medipat.com.co
    </p>
</div>
