<style>
    body {
        background: white !important;
    }

    .navbar {
        display: none;
    }

    @page {
        margin: 11mm 17mm 17mm 17mm;
    }

    .header-space {
        height: 380px;
    }

    div.header {
        position: fixed;
        top: 0px;
    }

    .footer {
        font-size: 9px;
        line-height: 19px;
        width: 1000px;
        color: rgb(54, 89, 163);
        text-align: center;
        position: fixed;
        bottom: 0;
    }

    .footer-space { 
        height: 250px !important;
    }

    .content-block: {
        position: fixed;
        top: 380px;
        margin-top: 20rem;
        page-break-after: always;
        page-break-inside: always;
    }

    #AlertMessage {
        display: none;
    }

    .right {
        position: absolute;
        right: 0px;
        padding: 10px;
    }

    .left {
        position: absolute;
        left: 0px;
        padding: 10px;
    }

    .borde {
        border: 1px solid black;
    }

    .tamprint {
        font-size: 16px;
    }

    @media print {
        p {
            font-size: 22px;
        }

        pre {
            font-family: "worksans";
            font-size: 22px;
            text-align: justify;
            text-justify: inter-word;
            border: 0px;
            line-height: 22px;
            width:1000px;
            letter-spacing: -1px;
        }

        .footer {
            font-size: 9px;
        }

        .firma {
            line-height: 25px;
            font-size: 22px !important;
            text-align: center;
            color: black;
        }

    }

    pre {
        font-family: "worksans";
        text-align: justify;
        text-justify: inter-word;
        border: 0px;
        line-height: 22px;
        width:1000px;
        letter-spacing: -1px;
    }

    .macro {
        min-height: 100px;
    }

    .micro {
        margin-bottom: -2px !important;
        line-height: 22px;
        letter-spacing: -1px;
    }

    .block-micro {
        margin-bottom: 1rem;    }

    .firma {
        line-height: 25px;
        text-align: center;
        color: black;
        font-size: 15px;
    }

    .tabla-firma {
        margin-bottom: 3rem;
        margin-left: auto;
    }

    .pie {
        line-height: 14px;
        font-size: 16px;
        text-align: center;
        color: rgb(54, 89, 163);
    }

    .textjusto-1 {
        letter-spacing: -1px;
    }

    .header-separator {
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
    }
</style>
<table>
    <thead>
        <tr>
            <td>
                <div class="header-space">&nbsp;</div>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="content content-block header-space">
                    <b>
                        <p >DESCRIPCIÓN MACROSCÓPICA</p>
                    </b>
                    <pre class="macro">{{informe.macro}}</pre>
                    <div class="block-micro">
                        <b>
                            <p>DESCRIPCIÓN MICROSCÓPICA</p>
                        </b>
                        {{#each camposMicro}}
                            <p class="micro">
                                {{this}}
                            </p>
                        {{/each}}
                    </div>
                    <div>
                        <b>
                            <p>DIAGNOSTICO:</p>
                        </b>
                        <pre>{{informe.diagnostico}}</pre>
                    </div>
                    <div>
                        {{#if observacion}}
                                <b>
                                    <p>OBSERVACIONES:</p>
                                </b>
                                <pre>{{informe.observaciones}}</pre>
                        {{/if}}
                    </div>
                    <div>
                        {{#if inmuno}}
                                <b>
                                    <p>INMUNOHISTOQUÍMICA:</p>
                                </b>
                                <pre>{{informe.inmuno}}</pre>
                        {{/if}}
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>
                <div class="footer-space">&nbsp;</div>
            </td>
        </tr>
    </tfoot>
</table>

<div class="header">
    <img height="130" src="/img/logoPrint.png" alt="Logo">&nbsp;
    <table border="0">
        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="4">
                <p style="line-height: 10px; width:1000px;" class="textjusto-1"><b>PACIENTE:</b>
                    <b>{{informe.paciente}}</b></p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p style="line-height: 10px; width:500px;" class="mayus textjusto-1"><b>{{paciente.t_docu}}:</b>
                    {{informe.numdoc}}</p>
            </td>
            <td>
                <p style="line-height: 10px;" class="mayus textjusto-1"><b>EDAD: </b>{{informe.edad}}</p>
            </td>
            <td>
                <p style="line-height: 10px;" class="mayus textjusto-1"><b>SEXO:</b>
                    {{informe.sexo}}</p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p style="line-height: 10px; width:500px;" class="textjusto-1"><b>IPS:</b>
                    {{informe.entidad}}</p>
            </td>
            <td colspan="2">
                {{#if eps}}
                <p style="line-height: 10px; width:500px;" class="textjusto-1"><b>EPS:</b> {{informe.eps}}
                </p>
                {{else}}
                &nbsp;
                {{/if}}
            </td>
        </tr>
        <tr>
            <td>
                <p style="line-height: 10px; width:500px;" class="textjusto-1"><b>INGRESO:</b>
                    {{informe.fec_ingreso}}</p>
            </td>
            <td colspan="3">
                <p style="line-height: 10px; width:500px;" class="textjusto-1"><b>INFORME:</b>
                    {{informe.fec_inf}}</p>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <p style="line-height: 10px; width:1000px;" class="textjusto-1"><b>MED. REMITENTE:</b>
                    {{informe.medRemitente}}</p>
            </td>
        </tr>
        <!--Linea Horizontal-->
        <tr>
            <td colspan="4"
                class="header-separator">
                <hr style="margin-bottom: 0rem !important; margin-top: 3px !important;">
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <p style="line-height: 18px; padding-top: 29px; text-align: center; width:1000px;" class="textjusto-1">
                    INFORME DE ESTUDIO
                    ANATOMOPATOLÓGICO No: <b><i style="font-size: 24px !important;">{{informe.informe_cod}}</i></b></p>
            </td>
        </tr>
    </table>
</div>




<div class="footer">
    <table class="tabla-firma">
        <tr>
            <td style="text-align: center;" colspan="2">
                <p class="firma">&nbsp;<br>______________________________________<br>
                    {{informe.patologo}}<br>
                    Médico Patólogo - Registro: {{medico.reg_med}}
                </p>
            </td>
        </tr>
    </table>

    <p class="pie">
        Medicos Patólogos-MediPat S.A.S, Calle del Bouquet, Cra 21 #25-93, Manga<br>
        Telefono: 3153220966 &#9679; Email: medipatsas@yahoo.com
    </p>
</div>
