<div class="container">
    <table class="table table-sm" border="5">
        <tbody>
            <form action="" method="post">
                <tr>
                    <td>Informe:
                        <input type="text" id="infCod" name="informe_cod" value="" size="8">
                        <input type="hidden" name="ultInf" value="{{informe.paciente.ultInf}}">
                        <input type="hidden" name="t_informe" value="{{informe.paciente.t_informe}}">
                        Doc. <input name="numdoc" type="text" size="8" value="{{informe.paciente.num_docu}}">
                    </td>
                    <td>
                        <select name="patologo">
                            <option selected="true" value="0">Patologo</option>
                            {{#each patologos}}
                            <option value="{{patologo}}">{{patologo}}</option>
                            {{/each}}
                        </select>
                    </td>
                    <td>
                        Medico remitente <br><input name="medRemitente" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Paciente <input name="paciente" type="text" value="{{informe.paciente.nombre}}"><br>
                        Telefono <input name="telefono" type="text" size="10" value="{{informe.paciente.telefono}}">
                    </td>
                    <td>
                        Edad:<input name="edad" type="text" size="2" id="edad" value=""><br>
                        Sexo:<input name="sexo" type="text" size="2" value="{{informe.paciente.sexo}}">
                    </td>
                    <td>
                        Ingreso <input name="fec_ingreso" type="date" id="fechaIng"><br>
                        Informe <input name="fec_inf" type="date"  id="fechaInf">
                    </td> 
                </tr>
                <tr>
                    <td>
                        <select name="entidad">
                            <option selected="true" value="">Entidad</option>
                            {{#each entidades}}
                            <option value="{{razon_social}}">{{razon_social}}</option>
                            {{/each}}
                        </select>
                    </td>
                    <td>
                        <select name="eps">
                            <option selected="true" value="">EPS</option>
                            {{#each epss}}
                            <option value="{{razon_social}}">{{razon_social}}</option>
                            {{/each}}
                        </select>
                    </td>
                    <td>
                        <select name="cups" id="">
                            <option value="cups">cups</option>
                            {{#each cups}}
                            <option value="{{cups}}">{{cups}}</option>
                            {{/each}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td scope="row" colspan="3">
                        <p>MACRO</p>
                        <textarea name="macro" rows="5" cols="100"></textarea>
                    </td>
                </tr>
                <tr>
                    <td scope="row" colspan="3">
                        <p>MICRO</p>
                        <textarea name="micro" rows="5" cols="100"></textarea>
                    </td>
                </tr>
                <tr>
                    <td scope="row" colspan="3">
                        <p>DIAGNOSTICO</p>
                        <textarea name="diagnostico" rows="5" cols="100"></textarea>
                    </td>
                </tr>
                <tr>
                    <td scope="row" colspan="3">
                        <p>OBSERVACIONES</p>
                        <textarea name="observaciones" rows="5" cols="100"></textarea>
                    </td>
                </tr>
                <tr>
                    <td scope="row" colspan="3">
                        <p>INMUNOHISTOQUÍMICA</p>
                        <textarea name="inmuno" rows="5" cols="100"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <button class="btn btn-success mx-auto">
                            Guardar Informe
                        </button>
                    </td>
                </tr>
            </form>
        </tbody>
    </table>
</div>
<script>
    var year = new Date().getFullYear().toString().substr(-2);
    var mes = ("0" + (new Date().getMonth() + 1)).slice(-2);
    var dia = ("0" + (new Date().getDay() + 1)).slice(-2);
    document.getElementById("infCod").value = "{{informe.paciente.t_informe}}" + year + mes + "-{{informe.paciente.ultInf}}";

    document.getElementById('fechaInf').valueAsDate = new Date();
    document.getElementById('fechaIng').valueAsDate = new Date();

    var Edad = Math.floor((new Date().getTime() - new Date('{{informe.paciente.f_nac}}').getTime()) / 3.154e+10);
    document.getElementById("edad").value = Edad;


</script>