<div class="container">
    <table class="table table-sm" border="5">
        <tbody>
            <form action="" method="post">
                <!--Cabecera-->
                <tr>
                    <td>Infome:
                        <input type="text" id="infCod" name="informe_cod" value="" size="15" />
                        <input type="hidden" name="ultInf" value="{{informe.paciente.ultInf}}">
                        <input type="hidden" name="t_informe" value="{{informe.paciente.t_informe}}">
                    </td>
                    <td colspan="3">
                        <select name="patologo">
                            <option selected="true" value="0">Patologo</option>
                            {{#each patologos}}
                            <option value="{{patologo}}">{{patologo}}</option>
                            {{/each}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td id="num_doc" scope="col">Documentro <input name="numdoc" type="number"
                            value="{{informe.paciente.num_docu}}"></td>
                    <td id="nombre" scope="col">Paciente <input name="paciente" type="text"
                            value="{{informe.paciente.nombre}}"></td>
                    <td id="telefono" scope="col">Telefono <input name="telefono" type="text"
                            value="{{informe.paciente.telefono}}"></td>
                    <td id="sexo" scope="col">Sexo <input name="sexo" type="text" size="10"
                            value="{{informe.paciente.sexo}}">
                    </td>

                </tr>
                <tr>
                    <td scope="col"> <br>
                        <select name="entidad">
                            <option selected="true" value="0">Entidad</option>
                            {{#each entidades}}
                            <option value="{{razon_social}}">{{razon_social}}</option>
                            {{/each}}
                        </select><br>
                        <select name="eps">
                            <option selected="true" value="0">EPS</option>
                            {{#each epss}}
                            <option value="{{razon_social}}">{{razon_social}}</option>
                            {{/each}}
                        </select>
                    </td>
                    <td colspan="2" scope="col">
                        Medico remitente <input name="medRemitente" type="text"><br>
                        Informe <input type="date" name="fec_inf" id="fechaInf" placeholder="dd-mm-yyyy">
                        Ingreso <input name="fec_ingreso" id="fechaIng" type="date" value="2021-01-15"
                            min="1920-01-01" max="2040-12-31">
                    </td>
                    <td scope="col">
                        Edad: <span id="edad"></span>
                        <input type="hidden" name="edad" value="{{informe.paciente.f_nac}}">
                    </td>
                </tr>
                <tr>
                    <td scope="row" colspan="5">
                        <p>MACRO</p>
                        <textarea name="macro" rows="5" cols="100"></textarea>
                    </td>
                </tr>
                <tr>
                    <td scope="row" colspan="5">
                        <p>MICRO</p>
                        <textarea name="micro" rows="5" cols="100"></textarea>
                    </td>
                </tr>
                <tr>
                    <td scope="row" colspan="5">
                        <p>DIAGNOSTICO</p>
                        <textarea name="diagnostico" rows="5" cols="100"></textarea>
                    </td>
                </tr>
                <tr>
                    <td scope="row" colspan="5">
                        <p>OBSERVACIONES</p>
                        <textarea name="observaciones" rows="5" cols="100"></textarea>
                    </td>
                </tr>
                <tr>
                    <td scope="row" colspan="5">
                        <p>INMUNOHISTOQUÍMICA</p>
                        <textarea name="inmuno" rows="5" cols="100"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <button class="btn btn-success mx-auto">
                            Guardar Informe
                        </button>
                    </td>
                </tr>
            </form>
        </tbody>
    </table>
</div>
<script>
    var year = new Date().getFullYear().toString().substr(-2);
    var mes = ("0" + (new Date().getMonth() + 1)).slice(-2);
    var dia = ("0" + (new Date().getDay() + 1)).slice(-2);
    document.getElementById("infCod").value = "{{informe.paciente.t_informe}}" + year + mes + "-{{informe.paciente.ultInf}}";

    document.getElementById('fechaInf').valueAsDate = new Date();
    document.getElementById('fechaIng').valueAsDate = new Date();

    var Edad = Math.floor((new Date().getTime() - new Date('{{informe.paciente.f_nac}}').getTime()) / 3.154e+10);
    document.getElementById("edad").innerHTML = Edad;

</script>