<div class="container">
    <table class="table table-sm">
        {{#if informes}}
        <thead>
            <th colspan="8">Ultimos 10 informes</th>
        </thead>
        <tbody>
            <tr>
                <td scope="col"><strong>&nbsp;&nbsp;Opciones&nbsp;&nbsp;</strong></td>
                <td scope="col" style="width: 90px;"><strong># Informe</strong></td>
                <td scope="col"><strong>Paciente</strong></td>
                <td scope="col"><strong>Documento</strong></td>
                <td scope="col"><strong>Entidad</strong></td>
                <td scope="col"><strong>Remite</strong></td>
                <td scope="col"><strong>Telefono</strong></td>
                <td scope="col" style="width: 90px;"><strong>Fecha Inf</strong></td>
                
            </tr>
            {{#each informes}}
            <tr>
                <td class="small" scope="col">
                    {{#if t_informe}}
                    <a href="/informes/edit{{t_informe}}/{{id}}" class="btn btn-success">
                        <i class='fas fa-edit'></i>
                    </a>
                    <a href="/informes/imprimir{{t_informe}}/{{id}}" class="btn btn-success">
                        <i class="fas fa-print"></i>
                    </a>
                    {{else}}
                    <a href="/informes/edit/{{id}}" class="btn btn-success">
                        <i class='fas fa-edit'></i>
                    </a>
                    <a href="/informes/imprimir/{{id}}" class="btn btn-success">
                        <i class="fas fa-print"></i>
                    </a>
                    {{/if}}
                </td>
                <td class="small" scope="row">{{informe_cod}}</td>
                <td class="small" scope="row">{{paciente}}</td>
                <td class="small" scope="row">{{numdoc}}</td>
                <td class="small" scope="row">{{entidad}}</td>
                <td class="small" scope="row">{{medRemitente}}</td>
                <td class="small" scope="row">{{telefono}}</td>
                <td class="small" scope="row">{{fec_inf}}</td>
                
            </tr>
            {{/each}}
            <tr>
                <td colspan="8" class="text-center">
                    <a href="/informes/tipo_informe" class="btn btn-success">Nuevo Informe</a>
                </td>
            </tr>
        </tbody>
        {{else}}
        <tr>
            <td class="text-center">No se encontraton registros</td>
        </tr>
        <tr>
                <td class="text-center">
                    <a href="/informes/tipo_informe" class="btn btn-success">Nuevo Informe</a>
                </td>
            </tr>
        {{/if}}
    </table>
</div>
<!--
        sexo, 
        edad, 
        fec_muestra, 
        fec_ingreso, 
        patologo, 
        macro, 
        micro, 
        diagnostico, 
        observaciones -->