<div class="container">
    <table class="table table-sm">
        <thead>
            <th>Ultimos 10 informes</th>
        </thead>
        <tbody>
            <tr>
                <td scope="col"># Informe</th>
                <td scope="col">Paciente</th>
                <td scope="col">Documento</th>
                <td scope="col">Entidad</th>
                <td scope="col">Remite</th>
                <td scope="col">Telefono</th>
                <td scope="col">Fecha de Informe</th>
            </tr>
            <tr>
                {{#each informes}}
                <td scope="row"><strong>{{informe_cod}}</strong></th>
                <td scope="row"><strong>{{paciente}}</strong></td>
                <td scope="row"><strong>{{numdoc}}</strong></th>
                <td scope="row"><strong>{{entidad}}</strong></th>
                <td scope="row"><strong>{{medRemitente}}</strong></th>
                <td scope="row"><strong>{{telefono}}</strong></th>
                <td scope="row"><strong>{{fec_inf}}</strong></th>
                {{/each}}
            </tr>
            <tr>
                <td colspan="7" class="text-center">
                    <a href="/informes/tipo_informe" class="btn btn-success">Nuevo Informe</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--
        sexo, 
        edad, 
        fec_muestra, 
        fec_ingreso, 
        patologo, 
        macro, 
        micro, 
        diagnostico, 
        observaciones -->