<div class="container">
    <table class="table table-sm">
        <thead>
            <th>Ultimos 10 informes</th>
        </thead>
        <tbody>
            <tr>
                <td scope="col"># Informe</td>
                <td scope="col">Paciente</td>
                <td scope="col">Documento</td>
                <td scope="col">Entidad</td>
                <td scope="col">Remite</td>
                <td scope="col">Telefono</td>
                <td scope="col">Fecha de Informe</td>
                <td scope="col">Opciones</td>
            </tr>
            {{#each informes}}
            <tr>
                <td scope="row"><strong>{{informe_cod}}</strong></td>
                <td scope="row"><strong>{{paciente}}</strong></td>
                <td scope="row"><strong>{{numdoc}}</strong></td>
                <td scope="row"><strong>{{entidad}}</strong></td>
                <td scope="row"><strong>{{medRemitente}}</strong></td>
                <td scope="row"><strong>{{telefono}}</strong></td>
                <td scope="row"><strong>{{fec_inf}}</strong></td>
                <td scope="col">Telefono
                    <a href="/informes/edit/{{id}}" class="btn btn-success">
                        <i class='fas fa-edit'></i>
                    </a>
                </td>
            </tr>
            {{/each}}
            <tr>
                <td colspan="7" class="text-center">
                    <a href="/informes/tipo_informe" class="btn btn-success">Nuevo Informe</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--
        sexo, 
        edad, 
        fec_muestra, 
        fec_ingreso, 
        patologo, 
        macro, 
        micro, 
        diagnostico, 
        observaciones -->