<div class="container p-4" >
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body shadow-lg p-4 bg-white rounded">
                    <form action="/entidades/edit/{{entidad.id}}" method="POST">
                        <div class="form-group"></div>
                        <h3>Editar Entidad</h3>
                        <input value="{{entidad.nit}}" type="text" name="nit" class="form-control mb-1 " placeholder="NIT" required autofocus>
                        <input value="{{entidad.razon_social}}" type="text" name="razon_social" class="form-control mb-1" placeholder="Razon Social" required>
                        <input value="{{entidad.direccion}}" type="text" name="direccion" class="form-control mb-1" placeholder="Direccoión" required>
                        <input value="{{entidad.telefono}}" type="text" name="telefono" class="form-control mb-1" placeholder="telefono" required>
                        <input value="{{entidad.email}}" type="email" name="email" class="form-control mb-1" placeholder="E-Mail" required>
                        <button class="btn btn-success btn-block">
                            Guardar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>