<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/eps/edit/{{eps.id}}" method="POST">
                        <div class="form-group"></div>
                        <h3>Editar EPS</h3>
                        <input value="{{eps.nit}}" type="text" name="nit" class="form-control" placeholder="NIT" required autofocus>
                        <input value="{{eps.razon_social}}" type="text" name="razon_social" class="form-control" placeholder="Razon Social" required>
                        <input value="{{eps.direccion}}" type="text" name="direccion" class="form-control" placeholder="Direccoión" required>
                        <input value="{{eps.telefono}}" type="text" name="telefono" class="form-control" placeholder="telefono" required>
                        <input value="{{eps.email}}" type="email" name="email" class="form-control" placeholder="E-Mail" required>
                        <button class="btn btn-success btn-block">
                            Guardar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>