<div class="container p-3">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/pacientes/edit/{{paciente.id}}" method="POST">
                        <div class="form-group"></div>
                        <p>Tipo de Documento:
                            <select id="tipo_docu" name="t_docu">
                                <!-- Rellenar con las opciones de tipo documento-->
                                <option value="{{paciente.t_docu}}">{{paciente.t_docu}}</option>
                                <option value="C.C.">C.C.</option>
                                <option value="T.I.">T.I.</option>
                                <option value="R.C.">R.C.</option>
                                <option value="C.E.">C.E.</option>
                                <option value="PP">PP</option>
                            </select>
                        <p id="prueba"></p>
                        <input value="{{paciente.num_docu}}" type="text" name="num_docu" class="form-control"
                            placeholder="Numero de Documento" required>
                        <input value="{{paciente.nombre}}" type="text" name="nombre" class="form-control"
                            placeholder="Nombre Completo" required>
                        <input value="{{paciente.sexo}}" type="text" name="sexo" class="form-control mayus"
                            placeholder="M 칩 F" maxlength="1" required>
                        <input value="{{paciente.direccion}}" type="text" name="direccion" class="form-control"
                            placeholder="Direccoi칩n" required>
                        <input value="{{paciente.telefono}}" type="text" name="telefono" class="form-control"
                            placeholder="telefono" required>
                        <input value="{{paciente.email}}" type="email" name="email" class="form-control"
                            placeholder="Email" required>
                        <p>Fecha de nacimiento (<i class="tenue">A침o-Mes-Dia</i>):
                            <input type="number" id="edad" onchange="fechaNacimiento()" size="5"><input
                                value="{{paciente.f_nac}}" type="text" size="15" name="fecha_nacimiento"
                                class="form-control" id="fecNac" placeholder="Fecha de nacimiento" required>
                        </p>
                        <textarea rows="2" class="form-control" name="description">{{paciente.description}}</textarea>
                        <button class="btn btn-success btn-block">
                            Guardar
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-5 mx-auto">
            <div class="card">
                <table class="table table-sm table-striped">
                    <tr>
                        <th>Informe</th>
                        <th>Fecha</th>
                        <th>Pat칩logo</th>
                    </tr>
                    {{#each estudios}}
                    <tr>
                        <td>
                            <a href="/informes/edit/{{id}}">{{informe_cod}}</a>
                        </td>
                        <td>
                            {{fec_inf}}
                        </td>
                        <td>
                            {{patologo}}
                        </td>
                    </tr>
                    {{/each}}
                    {{#each estudiosC}}
                    <tr>
                        <td>
                            <a href="/informes/edit{{t_informe}}/{{id}}">{{informe_cod}}</a>
                        </td>
                        <td>
                            {{fec_inf}}
                        </td>
                        <td>
                            {{patologo}}
                        </td>
                    </tr>
                    {{/each}}
                    <tr>
                        <td colspan="3" class="text-center">
                            <a class="btn btn-success" href="/informes/nuevo/Q{{paciente.id}}">Q</a>

                            <a class="btn btn-success" href="/informes/nuevo/L{{paciente.id}}">L</a>
                        
                            <a class="btn btn-success" href="/informes/nuevoc/C{{paciente.id}}">C</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javasctipt">
    var name = "{{paciente.t_docu}}";
    console.log(name);
    document.getElementById("prueba").value = name;
    function fechaNacimiento() {
        var edad = document.getElementById("edad").value;
        var year = new Date().getFullYear();
        var mes = ("0" + (new Date().getMonth() + 1)).slice(-2);
        var dia = ("0" + (new Date().getDay() + 1)).slice(-2);
        var fechaNacimiento =  (year - edad) + "-" + mes + "-" + dia;
        document.getElementById("fecNac").value = fechaNacimiento;
    }
    //document.getElementById("prueba").value = "2014-02-09";

</script>