<div class="container pt-3">
    <div class="row">
        <div class="col input-group mb-3">
            <form method="POST" action="">
                <div class="input-group-append">
                <input 
                    type="text" 
                    name="busqueda" 
                    class="form-control" 
                    placeholder="Buscar Paciente" 
                    aria-label="Buscar Paciente"
                    aria-describedby="button-addon2"
                    autofocus
                    value={{busqueda}}
                    >
                    <button class="btn btn-outline-info" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>
        <div class="col text-right"> <a href="/pacientes/check_paciente" class="btn btn-success">
                <i class='fas fa-plus-square'>Agregar Paciente</i>
            </a>
        </div>
    </div>
    <table class="table table-sm table-striped">
        {{#if pacientes}}
        <thead>
            <tr>
                <th colspan="11">

                </th>
            </tr>
            <tr>
                <th scope="col">id</th>
                <th scope="col"># Doc</th>
                <th scope="col">Tipo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Sexo</th>
                {{!-- <th scope="col">dirección</th>
                <th scope="col">Telefono</th>
                <th scope="col">Email</th> --}}
                <th scope="col">Edad(Mes,Dia,Año)</th>
                <th scope="col" colspan="4">Acción</th>
            </tr>
        </thead>
        {{/if}}
        <tbody>
            {{#each pacientes}}
            <tr>
                <td scope="row" class="small">{{id}}</td>
                <td class="small">{{num_docu}}</td>
                <td class="small">{{t_docu}}</td>
                <td class="small">
                    <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{description}}">
                        {{nombre}}
                    </span>
                </td>
                <td class="small mayus">{{sexo}}</td>
                <td class="small"><span><strong>{{edad}}</strong> - </span><time>{{f_nac}}</time></td>
                <td style="padding-left: 0px; padding-right: 2px;" class="small">
                    <a href="/pacientes/edit/{{id}}" class="btn btn-success">
                        <i class='fas fa-edit'></i>
                    </a>
                </td>
                <td style="padding-left: 0px; padding-right: 1px;">
                    <form method="GET" action="/informes/nuevo/Q{{id}}">
                        <a class="btn btn-success" onclick="this.parentNode.submit();">Q</a>
                    </form>
                </td>
                <td style="padding-left: 0px; padding-right: 1px;">
                    <form method="GET" action="/informes/nuevo/L{{id}}">
                        <a class="btn btn-success" onclick="this.parentNode.submit();">L</a>
                    </form>
                </td>
                <td style="padding-left: 0px; padding-right: 1px;">
                    <form method="GET" action="/informes/nuevoc/C{{id}}">
                        <a class="btn btn-success" onclick="this.parentNode.submit();">C</a>
                    </form>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="8" class="text-center">
                    <p>hay ningun entidad guardado</p>
                    <br>
                    <a href="/pacientes/add" class="btn btn-success">Agregar Paciente</a>
                </td>
            </tr>
            {{/each}}
            {{#if pacientes}}
            <tr>
                <td colspan="13" class="text-center">
                    <a href="/pacientes/check_paciente" class="btn btn-success">
                        <i class='fas fa-plus-square'>Agregar Paciente</i>
                    </a>
                </td>
            </tr>
            {{/if}}
        </tbody>
    </table>
</div>
<script>
    calcularEdad(fechaNacimiento) {
        const resultado = Math.floor((new Date().getTime() - new Date(fechaNacimiento).getTime()) / 3.154e+10);
        return resultado;
    }
</script>